<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="'/perfil/'" routerDirection="forward">
                <ion-icon name="contact" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Pay
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ng-container *ngIf="!params || params.length == 0">
            <div *ngFor="let n of [0,1,2]" padding>
                <ion-skeleton-text></ion-skeleton-text>
                <p>
                    <ion-skeleton-text class="text-skeleton"></ion-skeleton-text>
                </p>
            </div>
        </ng-container>
        <ion-item-sliding *ngFor="let param of params">
            <ion-item lines="inset" button [routerLink]="['/infomodaltab1', param.id]">
                <ion-label>
                    {{ param.task2 }}
                </ion-label>
                <ion-note slot="end" color="primary">{{ param.priority }}</ion-note>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="secondary">
                    Check
                    <ion-icon name="checkmark" slot="end"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>



    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/infomodaltab1" routerDirection="forward">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>