<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="'/perfil/'" routerDirection="forward">
                <ion-icon name="contact" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            violentometro
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <!-- CARD -->

    <ion-card mode="ios" *ngFor="let param of params" button [routerLink]="['/infomodaltab1', param.id]">

        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-avatar>
                        <img src="../../assets/img/user.png">
                    </ion-avatar>
                </ion-col>
                <ion-col size="5">
                    <div text-start>
                        <p style="font-weight: bold; font-size: 18px; color: black;">{{ param.nombre }}</p>
                        <p style="font-weight: bold; font-size: 18px; color: black;">Nivel de violencia</p>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div text-end>
                        <p style="font-weight: bold; font-size: 18px; color: rgb(2, 24, 124);">Profesor</p>
                        <p style="color: red">Nivel: Alto</p>
                        <ion-progress-bar color="tertiary" value="0.7"></ion-progress-bar>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <!--  -->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/infomodaltab1" routerDirection="forward">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>