<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="'/perfil/'" routerDirection="forward">
                <ion-icon name="contact" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Cursos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Unidad 1</ion-card-subtitle>
          <ion-card-title>Que es la Violencia de Genero</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
          <div class="ion-text-end">
            <ion-button size="small" fill="outline" slot="end">Comenzar <ion-icon name="arrow-forward"></ion-icon></ion-button>
          </div>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Unidad 2</ion-card-subtitle>
          <ion-card-title>Prevenir la Violencia de Genero</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
          <div class="ion-text-end">
              <ion-button size="small" fill="outline" slot="end">Comenzar <ion-icon name="arrow-forward"></ion-icon></ion-button>
          </div>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Unidad 3</ion-card-subtitle>
          <ion-card-title>Como Funciona la APP</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
          <div class="ion-text-end">
              <ion-button size="small" fill="outline" slot="end">Comenzar <ion-icon name="arrow-forward"></ion-icon></ion-button>
          </div>
        </ion-card-content>
    </ion-card>

    <div padding>
      <ion-button expand="block"><ion-icon name="ribbon"></ion-icon>Certificarme</ion-button>
    </div>

    <br>
    <br>
    <br>

</ion-content>
