<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="'/perfil/'" routerDirection="forward">
                <ion-icon name="contact" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Cursos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Unidad 1</ion-card-subtitle>
          <ion-card-title>¿Qué es la Violencia de Genero?</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Aprende más de los comportamientos que se consideran violencia de género 
          y aprende los líneamientos a seguir en tu organización.
          <div class="ion-text-end">
            <ion-button size="small" fill="outline" slot="end">Comenzar <ion-icon name="arrow-forward"></ion-icon></ion-button>
          </div>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Unidad 2</ion-card-subtitle>
          <ion-card-title>Confrontar la Violencia de Genero</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Ahora que sabes qué es la violencia de género, aprende como denunciarla 
          dentro de tu organización y mediante medios legales.
          <div class="ion-text-end">
              <ion-button size="small" fill="outline" slot="end">Comenzar <ion-icon name="arrow-forward"></ion-icon></ion-button>
          </div>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Unidad 3</ion-card-subtitle>
          <ion-card-title>¿Cómo Funciona?</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Aprende a usar No Te Calles y conoce todas las 
          herramientas que hemos desarrollado para ti.
          <div class="ion-text-end">
              <ion-button size="small" fill="outline" slot="end">Comenzar <ion-icon name="arrow-forward"></ion-icon></ion-button>
          </div>
        </ion-card-content>
    </ion-card>

    <div padding>
      <ion-button expand="block"><ion-icon name="ribbon"></ion-icon>Certificarme</ion-button>
    </div>

    <br>
    <br>
    <br>

</ion-content>
