<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Regresar" defaultHref="/app/user/tabs/tab3"></ion-back-button>
        </ion-buttons>
        <ion-title>Formulario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <h1>Crud 1</h1>

    <ion-list lines="full">
        <ion-item *ngIf="todo">
            <ion-input required type="text" placeholder="Task" [(ngModel)]="todo.task"></ion-input>
        </ion-item>
        <ion-item *ngIf="todo">
            <ion-input required type="number" placeholder="Priority" [(ngModel)]="todo.priority"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="Nuevo campo" [(ngModel)]="todo.campo1"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="Nuevo campo 2" [(ngModel)]="todo.campo2"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="Nuevo campo 3" [(ngModel)]="todo.campo3"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="saveTodo()">Save</ion-button>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
        <ion-fab-button color="danger" (click)="onRemoveTodo(todoId)" routerLink="/app/user/tabs/tab3" routerDirection="forward">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>