<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Regresar" defaultHref="/app/user/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>Formulario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-list lines="full">
        <ion-item *ngIf="parametros">
            <ion-input required type="text" placeholder="Task" [(ngModel)]="parametros.task2"></ion-input>
        </ion-item>
        <ion-item *ngIf="parametros">
            <ion-input required type="number" placeholder="Priority" [(ngModel)]="parametros.priority"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="Nuevo campo" [(ngModel)]="parametros.campo1P"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="saveParam()">Save</ion-button>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
        <ion-fab-button color="danger" (click)="onRemoveParam(parametroId)" routerLink="/app/user/tabs/tab2" routerDirection="forward">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>