<ion-content class="tutorial-page">
    <div padding text-end>
        <ion-button fill="clear" [routerLink]="'/login/'" routerDirection="forward">Saltar
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
    </div>

    <ion-slides pager="true">
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col style="display: flex; justify-content: center;">
                        <div style="width: 250px; height: 250px;">
                            <img src="../../assets/slides/one.svg" alt="">
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>¡No te calles!</h2>
                        <p> 
                        Denuncia anónimamente comportamiento inadecuado dentro de tu institución sin importar tu sexo o género.
                        </p>
                        <br>
                        <br>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col style="display: flex; justify-content: center;">
                            <div style="width: 250px; height: 250px;">
                                    <img src="../../assets/slides/two.svg" alt="">
                            </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Por un Mejor Ambiente Escolar</h2>
                        <p>Denuncia dentro de tu escuela a profesores y alumnos que no respeten
                          el código ético profesor-alumno. El director podrá ver las denuncias pero
                          nunca verán tu nombre.
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                    <ion-col style="display: flex; justify-content: center;">
                            <div style="width: 250px; height: 250px;">
                                    <img src="../../assets/slides/three.svg" alt="">
                            </div>
                    </ion-col>
                <ion-row>
                    <ion-col>
                        <h2>Por un Mejor Ambiente Laboral</h2>
                        <p>Denuncia dentro de tu institución a directivos o compañeros que no respeten 
                            el código ético de la empresa. Los directivos administradores podrán ver las denuncias pero 
                            nunca verán tu nombre.</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                    <ion-col style="display: flex; justify-content: center;">
                            <div style="width: 250px; height: 250px;">
                                    <img src="../../assets/slides/four.svg" alt="">
                            </div>
                    </ion-col>
                <ion-row>
                    <ion-col>
                        <h2>Ayuda a Denunciar</h2>
                        <p>Con un formulario acude a los centros de ayuda más cercanos a ti para encontrar ayuda legal, 
                          médica y psicológica sin tener que relatar los hechos ni una sola vez.
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                    <ion-col style="display: flex; justify-content: center;">
                            <div style="width: 250px; height: 250px;">
                                    <img src="../../assets/slides/five.svg" alt="">
                            </div>
                    </ion-col>
                <ion-row>
                    <ion-col>
                        <h2>¿Comenzamos?</h2>
                        <ion-button fill="clear" expand="block" color="primary" [routerLink]="'/login/'" routerDirection="forward">Continuar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>